import Constants from "expo-constants";
import { Platform } from "react-native";

const localhost =
 Platform.OS === "ios" ? "http://127.0.0.1/api" : "http://127.0.0.1/api";

const ENV = {
 dev: {
   apiUrl: localhost,
   imageUrl: "http://127.0.0.1/storage",
   feedUrl: "https://6a35-101-99-33-201.ap.ngrok.io/secnews*/_search?filter_path=hits.hits._source&pretty"

 },
 staging: {
   apiUrl: "https://bugtrack.hptcybersec.com/api",
   imageUrl: "https://bugtrack.hptcybersec.com/storage",
   feedUrl: "https://6a35-101-99-33-201.ap.ngrok.io/secnews*/_search?filter_path=hits.hits._source&pretty"
   // Add other keys you want here
 },
 prod: {
   apiUrl: "https://bugtrack.hptcybersec.com/api",
   imageUrl: "https://bugtrack.hptcybersec.com/storage",
   feedUrl: "https://6a35-101-99-33-201.ap.ngrok.io/secnews*/_search?filter_path=hits.hits._source&pretty"
   // Add other keys you want here
 }
};

const getEnvVars = (env = Constants.manifest.releaseChannel) => {
 // What is __DEV__ ?
 // This variable is set to true when react-native is running in Dev mode.
 // __DEV__ is true when run locally, but false when published.
 if (__DEV__) {
   return ENV.dev;
 } else if (env === 'staging') {
   return ENV.staging;
 } else if (env === 'prod') {
   return ENV.prod;
 }
};

export default getEnvVars;